@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.container-grid {
  width: 90vw;
  max-width: 1200px;
  padding-left: 80px;
  margin: auto;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* titulos e textos */

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;

  color: #ffffff;
}

h2 {
}

h3 {
}

.texto-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;

  letter-spacing: 0.04em;

  color: #aaaaaa;
}

.texto-2 {
}

i {
  color: #aaaaaa;
  transition: 0.2s;
}

i:hover {
  color: #ffffff;
  transition: 0.2s;
}

/* HEADER */
header {
  width: 80px;
  height: 100vh;

  position: fixed;
  box-shadow: 5px 0px 15px rgba(255, 255, 255, 0.05);
  border-radius: 0px 15px 15px 0px;
}

header i {
  font-size: 28px;
}

.hcontent {
  height: 92vh;

  margin: 4vh 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 126px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav li {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  transform: rotate(-90deg);
}

nav li a {
  text-decoration: none;
  color: #aaaaaa;
  transition: 0.2s;
}

nav li a:hover {
  text-decoration: none;
  color: #ffffff;
}

.nav-icons {
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* ABOUT-ME */

.about-me {
  margin-top: 140px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me img {
  width: 510px;
}

.about-me-icons {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me-icons a {
  text-decoration: none;
}

.about-me-icons i {
  font-size: 28px;
}
